# Case Study: Credit Risk Prediction

This notebook builds a predictive classification model to identify credit card default payments based on customer attributes.

## Overview
### Objective:
Our goal is to:
- Preprocess the credit risk data using encoding methods.
- Train and tune predictive models using cross-validations with multiple algorithms
- Compare the models based on metrics including accuracy, precision, recall, F1-score
- Identify the best performing model based on these criteria and evaluate it on the test set
- Compute the optimal classification threshold for the selected model

### Dataset:
The dataset includes one target variable and 23 predictor variables:

- Target Variable (Y): Indicates whether the customer defaulted on a credit card payment (Yes = 1, No = 0).

- Predictor Variables (X1 to X23):
  - X1: Credit amount (NT dollar).
  - X2: Gender (1 = male; 2 = female).
  - X3: Education level (1 = graduate school; 2 = university; 3 = high school; 4 = others).
  - X4: Marital status (1 = married; 2 = single; 3 = others).
  - X5: Age (years).
  - X6 - X11: Historical monthly repayment statuses (-1 = paid duly, 1-9 = months delayed).
  - X12 - X17: Monthly bill statement amounts (NT dollar).
  - X18 - X23: Amount paid each month (NT dollar).

### Tasks
1. Load and preprocess the training and test datasets, clearly applying appropriate encodings
2. Train and tune models using cross-validation for each algorithm, illustrating hyperparameter tuning clearly with plots.
3. Select and justify the best-performing model.
4. Evaluate the selected best model on the test set using suitable classification metrics.
5. Compute the optimal probability threshold for classifying defaults, improving the performance evaluation.

## Data Loading and Preprocessing

In [ ]:
# Imports
import pandas as pd
import numpy as np

np.random.seed(42) # For reproducibility

# Sklearn
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [5]:
#Load Data
train_df = pd.read_csv('creditdefault_train.csv')
test_df = pd.read_csv('creditdefault_test.csv')

#Print
print(train_df.head())
print(test_df.head())

   Y      X1  X2  X3  X4  X5  X6  X7  X8  X9  ...     X14     X15     X16  \
0  1   20000   2   2   1  24   2   2  -1  -1  ...     689       0       0
1  0   50000   2   2   1  37   0   0   0   0  ...   49291   28314   28959
2  0   50000   1   2   1  57  -1   0  -1   0  ...   35835   20940   19146
3  0   50000   1   1   2  37   0   0   0   0  ...   57608   19394   19619
4  0  500000   1   1   2  29   0   0   0   0  ...  445007  542653  483003

      X17    X18    X19    X20    X21    X22    X23
0       0      0    689      0      0      0      0
1   29547   2000   2019   1200   1100   1069   1000
2   19131   2000  36681  10000   9000    689    679
3   20024   2500   1815    657   1000   1000    800
4  473944  55000  40000  38000  20239  13750  13770

[5 rows x 24 columns]
   Y      X1  X2  X3  X4  X5  X6  X7  X8  X9  ...    X14    X15    X16    X17  \
0  1  120000   2   2   2  26  -1   2   0   0  ...   2682   3272   3455   3261
1  0   90000   2   2   2  34   0   0   0   0  ...  13559  14331  14948  15549
2  0  140000   2   3   1  28   0   0   2   0  ...  12108  12211  11793   3719
3  0   20000   1   3   2  35  -2  -2  -2  -2  ...      0      0  13007  13912
4  0  200000   2   3   2  34   0   0   2   0  ...   5535   2513   1828   3731

    X18   X19   X20    X21   X22   X23
0     0  1000  1000   1000     0  2000
1  1518  1500  1000   1000  1000  5000
2  3329     0   432   1000  1000  1000
3     0     0     0  13007  1122     0
4  2306    12    50    300  3738    66

[5 rows x 24 columns]

In [ ]:
#Split Data
X_train = train_df.drop('Y', axis=1)
y_train = train_df['Y']

X_test = test_df.drop('Y', axis=1)
y_test = test_df['Y']

In [57]:
X_train.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
count,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,...,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,1.500000e+04,15000.000000,15000.000000,15000.000000,15000.000000
mean,167450.245333,1.604867,1.850000,1.556200,35.367933,-0.020467,-0.130933,-0.163000,-0.214467,-0.256933,...,47117.562067,43077.445667,40272.922667,38708.685867,5615.960000,5.822059e+03,4942.959000,4997.328867,4798.478400,5226.421267
std,130109.925023,0.488896,0.786686,0.522743,9.154118,1.125048,1.198451,1.202606,1.180578,1.148654,...,69182.434940,64016.907786,60503.339354,59212.425410,15551.708028,2.155675e+04,13629.034736,16499.349511,15463.948485,18099.851948
min,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-34041.000000,-170000.000000,-46627.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2733.500000,2392.750000,1800.000000,1200.000000,1000.000000,8.330000e+02,390.000000,290.000000,204.000000,80.000000
50%,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,20165.000000,19090.500000,18178.000000,17177.000000,2113.000000,2.014000e+03,1809.000000,1500.000000,1500.000000,1500.000000
75%,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,60263.250000,54599.500000,50134.750000,49122.750000,5023.250000,5.000000e+03,4571.500000,4048.500000,4019.500000,4000.000000
max,800000.000000,2.000000,6.000000,3.000000,75.000000,8.000000,8.000000,8.000000,8.000000,7.000000,...,855086.000000,706864.000000,587067.000000,568638.000000,493358.000000,1.227082e+06,380478.000000,528897.000000,426529.000000,528666.000000

In [65]:
# Check for missing values
print(X_train.loc[X_train.isnull().any(axis=1)])
print(X_test.loc[X_test.isnull().any(axis=1)])

Empty DataFrame
Columns: [X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23]
Index: []

[0 rows x 23 columns]
Empty DataFrame
Columns: [X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23]
Index: []

[0 rows x 23 columns]

In [ ]:
# X2 = gender, X4 = marital status
categorical_columns = ["X2", "X4"]

X_train_cat = X_train[categorical_columns].copy()
X_train_num = X_train.drop(categorical_columns, axis=1)

X_train_cat.describe()

                 X2            X4
count  15000.000000  15000.000000
mean       1.604867      1.556200
std        0.488896      0.522743
min        1.000000      0.000000
25%        1.000000      1.000000
50%        2.000000      2.000000
75%        2.000000      2.000000
max        2.000000      3.000000

In [59]:
# Use one hot encoding for nominal data
one_hot_encoder = OneHotEncoder()

X_train_cat = one_hot_encoder.fit_transform(X_train_cat)

one_hot_encoder.categories_

[array([1, 2], dtype=int64), array([0, 1, 2, 3], dtype=int64)]